<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light"><%=@the_board.name%></h1>

      <% if current_user != nil %>
        <form action="/insert_post" method="post">
          <div class="mb-3">
            <label for="title_box" class="form-label">Title</label>
            <input type="text" class="form-control" id="title_box" name="query_title">
          </div>
          <div class="mb-3">
            <label for="body_box" class="form-label">Body</label>
            <textarea class="form-control" id="body_box" name="query_body"></textarea>

          </div>
          <div class="mb-3">

            <div class="md-form md-outline input-with-post-icon datepicker" id="date-picker-example" aria-haspopup="true" aria-expanded="false" aria-readonly="false" aria-owns="date-picker-example_root">
              <label class="form" for="expires_on_box" >Expires on</label>
              <input placeholder="Select date" type="date" id="expires_on_box" class="form-control picker__input">
            </div>

          </div>

          <input type="hidden" id="board_id_box" name="query_board_id" value="<%= @the_board.id %>">

          <button type="submit" class="btn btn-primary">Add a New Post</button>
        </form>
      <%else%>

        <p class="lead text-body-secondary">Must be <a href="/users/sign_in">signed in</a> to add a new post.</p>

      <%end%>
    </p>
  </div>
</div>
</section>

<hr>

<h2>Active posts</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expires on</th>
  </tr>

  <% @active_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>

<h2>Expired posts</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expired on</th>
  </tr>

  <% @expired_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>
